<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Grupos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    
  <ion-grid>
    <ion-row>
      <ion-col style="display:flex!important; align-items: center!important;">
        <div>
          Grupos
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button (click)="newGroupPopUp()">
            Crear grupo
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngFor="let group of groupList">
      <ion-col style="display:flex!important; align-items: center!important;" size=4>
        <div>
          {{group.groupId}}
        </div>
      </ion-col>
      <ion-col>
        <ion-row> 
          <ion-button color="primary"><ion-icon name="create"></ion-icon></ion-button>
          <ion-button color="primary"><ion-icon name="close"></ion-icon></ion-button>
          <ion-button color="primary"><ion-icon name="add"></ion-icon></ion-button>
        </ion-row>
      </ion-col>
    </ion-row> -->

  </ion-grid>

  <ion-item-group *ngFor="let group of groupList;let i = index">
    <ion-item-divider>
      <ion-col size="7">
        <ion-row (click)="rowClick(i, group.id)">
          <ion-label><ion-icon *ngIf="!group.show" name="arrow-forward"></ion-icon><ion-icon *ngIf="group.show" name="arrow-down"></ion-icon>&nbsp;{{group.groupName}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row> 
          <ion-button style="--color:#ffff;--background:#fd5e53;" (click)="deleteGroupBtn(group.id, group.groupName)" ><ion-icon name="trash"></ion-icon></ion-button>
          <ion-button style="--color:#ffff;--background:#12cad6;" (click)="createBtnClick(group.id)" ><ion-icon name="add"></ion-icon></ion-button>
        </ion-row>
      </ion-col>
    </ion-item-divider>
    
    <div *ngIf="group.show">
      <div *ngIf="studentListForClickedGroup.length === 0">
        <ion-item class="animated slideInDown delay-0s">
          <ion-col>
            <ion-label>Sin comensales</ion-label>
          </ion-col>
        </ion-item>
      </div>
      <div *ngIf="studentListForClickedGroup.length > 0">
        
          <ion-item *ngFor="let item of studentListForClickedGroup" class="animated slideInDown delay-0s">
            <ion-col>
              <ion-label style="padding-right: 20px;">{{item.studentId | studentName:studentList}}</ion-label>
            </ion-col>
          </ion-item>
        
      </div>
    </div>
  

  </ion-item-group>



  
</ion-content>


